<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jdk-azure-functionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c908c15c-b267-426b-874c-82bac00e9fef/resourceGroups/Teknologisk/providers/Microsoft.Web/sites/jdk-azure-functionapp</ResourceId>
    <UserName>$jdk-azure-functionapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://jdk-azure-functionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>